@font-face {
  font-family: "iconfont"; /* Project id 2960825 */
  src: url('iconfont.woff2?t=1637740706515') format('woff2'),
       url('iconfont.woff?t=1637740706515') format('woff'),
       url('iconfont.ttf?t=1637740706515') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-githubjinyizhou:before {
  content: "\e654";
}

.el-icon-githubjintian:before {
  content: "\e655";
}

.el-icon-githubzhengzaijinhang:before {
  content: "\e62a";
}

.el-icon-githubshaohouchuli:before {
  content: "\e61f";
}

.el-icon-githubOUTLOOK:before {
  content: "\e641";
}

.el-icon-githubteam:before {
  content: "\e7ae";
}

.el-icon-githubgithub:before {
  content: "\e64c";
}

.el-icon-githubDirectory-tree:before {
  content: "\e892";
}

