<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
       PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <environments default="development">
       <environment id="development">
           <transactionManager type="JDBC"/>
           <dataSource type="POOLED">
               <property name="driver" value="com.mysql.jdbc.Driver"/>
               <property name="url" value="jdbc:mysql://@rm-wz968x73ihm8kx49jqo.mysql.rds.aliyuncs.com:3306/task_manager"/>
               <property name="username" value="db_manager"/>
               <property name="password" value="ooad2021"/>
           </dataSource>
       </environment>
   </environments>

    <mappers>
       <mapper resource="com/hungry/dao/UserMapper.xml"/>
   </mappers>
</configuration>