<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hungry.taskmanager.dao.TaskMapper">
    <select id="queryTask" parameterType="com.hungry.taskmanager.dto.QueryTaskDTO" resultType="com.hungry.taskmanager.entity.Task">
        SELECT t.* FROM task AS t
        <if test="userId != null">
            INNER JOIN user_task AS ut ON t.task_id = ut.task_id
        </if>
        <if test="teamName != null or teamId != null" >
            INNER JOIN team_task AS tt ON t.task_id = tt.task_id
            INNER JOIN team AS t2 ON tt.team_id = t2.team_id
        </if>
        <if test="tag != null">
            INNER JOIN user_task_tag utt ON ut.ut_id = utt.ut_id
            INNER JOIN tag AS t3 ON utt.tag_id = t3.tag_id
        </if>
        <where>
            <if test="querySubTasks == null or querySubTasks == false">
                t.father_task IS NULL
            </if>
            <if test="userId != null">
                AND ut.user_id = #{userId}
            </if>
            <if test="privilege != null">
                AND t.privilege = #{privilege}
            </if>
            <if test="taskName != null">
                AND INSTR(#{taskName}, t.task_name) > 0
            </if>
            <if test="createDate != null">
                AND t.create_date &gt;= #{createDate}
            </if>
            <if test="dueDate != null">
                AND t.due_date &lt;= #{dueDate}
            </if>
            <if test="type != null">
                AND t.type = #{type}
            </if>
            <if test="status != null">
                AND t.status = #{status}
            </if>
            <if test="teamName != null">
                AND INSTR(#{teamName}, t2.team_name) > 0
            </if>
            <if test="teamId != null">
                AND tt.team_id = #{teamId}
            </if>
            <if test="tag != null">
                AND t3.tag_name = #{tag}
            </if>
            <if test="fatherTask != null">
                AND t.father_task = #{fatherTask}
            </if>
            <if test="scheduledTask != null">
                <if test="scheduledTask == 0">
                    AND t.status IN (0, 2) AND t.due_date IS NULL
                </if>
                <if test="scheduledTask == 1">
                    <if test="timeRange == 0 or timeRange == 1">
                        AND t.due_date &lt;= #{requiredDate}
                    </if>
                    <if test="timeRange == 2">
                        AND t.due_date &gt;= #{requiredDate}
                    </if>
                </if>
            </if>
        </where>
    </select>


</mapper>