<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hungry.taskmanager.dao.TaskMapper">
    <select id="queryTask" parameterType="com.hungry.taskmanager.entity.post_entities.QueryTaskParams" resultType="com.hungry.taskmanager.entity.Task">
        SELECT t.* FROM task AS t
        INNER JOIN user_task AS ut ON t.task_id = ut.task_id
        INNER JOIN user AS u ON ut.user_id = u.user_id
        <if test="teamName != null">
            INNER JOIN team_user ON u.user_id = team_user.user_id
            INNER JOIN team AS t2 ON team_user.team_id = t2.team_id
        </if>
        <if test="tag != null">
            INNER JOIN user_task_tag utt ON ut.ut_id = utt.ut_id
            INNER JOIN tag AS t3 ON utt.tag_id = t3.tag_id
        </if>

        WHERE u.user_id = #{userId}
        <if test="privilege != null">
            AND t.privilege = #{privilege}
        </if>
        <if test="taskName != null">
            AND t.task_name = #{taskName}
        </if>
        <if test="createDate != null">
            AND t.create_date = #{createDate}
        </if>
        <if test="dueDate != null">
            AND t.due_date = #{dueDate}
        </if>
        <if test="type != null">
            AND t.type = #{type}
        </if>
        <if test="privilege != null">
            AND t.status = #{status}
        </if>
        <if test="teamName != null">
            AND t2.team_name = #{teamName}
        </if>
        <if test="tag != null">
            AND t3.tag_name = #{tag}
        </if>
        <if test="fatherTask != null">
            AND t.father_task = #{fatherTask}
        </if>
    </select>


</mapper>