<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hungry.taskmanager.dao.TeamMapper">

    <insert id="addMember">
        insert into team_user(team_id, user_id, identity) values
        <foreach collection="list" item="userid" separator=",">
            (#{teamId},#{userid},{"member"})
        </foreach>
    </insert>

    <insert id="addAdmin">
        insert into team_user(team_id, user_id, identity) VALUES
        <foreach collection="list" item="adminid" separator=",">
            (#{teamId},#{adminid},{"admin"})
        </foreach>
    </insert>

    <insert id="addCreator">
        insert into team_user(team_id, user_id, identity) value (#{teamId}, #{creator}, #{"creator"})
    </insert>

    <select id="getTeamUserRelationships" resultType="HashMap">
        SELECT tu.team_id, u.username, tu.identity FROM team
        INNER JOIN team_user AS tu ON team.team_id = tu.team_id
        INNER JOIN user AS u ON tu.user_id = u.user_id
        WHERE team.team_id IN
        <foreach collection="teams" index="index" item="team" open="(" separator="," close=")">
            #{team.teamId}
        </foreach>
    </select>

    <select id="getTeamCreatorAndAdministrators" resultType="User" parameterType="BigInteger">
        select u.* FROM team_user AS tu
                                   INNER JOIN user AS u ON tu.user_id = u.user_id
        WHERE tu.team_id = #{teamId} AND tu.identity IN ('creator', 'administrator')
    </select>

</mapper>